@import "../scss/abstracts/_mixin";
@import "../scss/layout/_header";
@import "../scss/layout/_footer";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}


